<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/players/index.css" />
<%- include('../partials/nav') %>

<main>
  <% if (user) { %> 
    <h1><%= title %></h1>
    <form id="add-player-form" action="/players" method="POST">
      <label for="name-input">Player Name:</label>
      <input type="text" name="name" id="name-input">

      <label for="position-input">Player Position:</label>
      <select name="position" id="position-input">
        <option value="Point Guard">Point Guard</option>
        <option value="Shooting Guard">Shooting Guard</option>
        <option value="Small Forward">Small Forward</option>
        <option value="Power Forward">Power Forward</option>
        <option value="Center">Center</option>
      </select>

      <label for="college-input">College:</label>
      <input type="text" name="college" id="college-input">

      <label for="off-rating">Offensive Rating (0-99):</label>
      <div class="slidecontainer">
        <input type="range" name="offRating" min="1" max="99" value="50" class="slider" id="off-rating">
        <div id="off-value"></div>
        <script type="text/javascript">
          let slider = document.getElementById("off-rating")
          let output = document.getElementById("off-value")
          output.innerHTML = slider.value

          slider.oninput = function() {
            output.innerHTML = this.value
          }
        </script>
      </div>

      <label for="def-rating">Defensive Rating (0-99):</label>
      <div class="slidecontainer">
        <input type="range" name="defRating" min="1" max="99" value="50" class="slider" id="def-rating">
        <div id="def-value"></div>
        <script type="text/javascript">
          let sliderD = document.getElementById("def-rating")
          let outputD = document.getElementById("def-value")
          outputD.innerHTML = sliderD.value

          sliderD.oninput = function() {
            outputD.innerHTML = this.value
          }
        </script>
      </div>

      <button type="submit"><span>Add Player</span></button>
    </form>
    <section>
      <h1>Existing Players</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>College</th>
            <th>Offensive Rating</th>
            <th>Defensive Rating</th>
          </tr>
        </thead>
        <tbody>
          <% players.slice().reverse().forEach(player => { %>
            <tr>
              <td><%= player.name %></td>
              <td><%= player.position %></td>
              <td><%= player.college %></td>
              <td><%= player.offRating %></td>
              <td><%= player.defRating %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </section>
  <% } else { %> 
    <h1>You Must Sign-In to Add a Player!</h1>
    <section>
      <h1>Existing Players</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>College</th>
            <th>Offensive Rating</th>
            <th>Defensive Rating</th>
          </tr>
        </thead>
        <tbody>
          <% players.forEach(player => { %>
            <tr>
              <td><%= player.name %></td>
              <td><%= player.position %></td>
              <td><%= player.college %></td>
              <td><%= player.offRating %></td>
              <td><%= player.defRating %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </section>
  <% } %> 
</main>

<%- include("../partials/footer") %>