<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/teams/edit.css" />
<%- include('../partials/nav') %>

<main>
  <% if (user) { %> 
    <h1><%= title %></h1>
    <form action="/teams/<%= team._id %>?_method=PUT" method="POST">

      <label>Team City:</label>
      <input type="text" name="city" value="<%= team.city %>">

      <label>Team Name (mascot):</label>
      <input type="text" name="name" value="<%= team.name %>">

      <label>Conference:</label>
      <select name="conference">
        <option value="West">West</option>
        <option value="East">East</option>
      </select>

      <label>Primary Color:</label>
      <input type="text" name="priColor" value="<%= team.priColor %>">

      <label>Secondary Color:</label>
      <input type="text" name="secColor" value="<%= team.secColor %>">

      <label>Point Guard:</label>
      <select name="pgId">
        <option value="" disabled selected hidden>Choose Point Guard</option>
        <% players.forEach(player => { %> 
          <% if (player.position === 'Point Guard') { %>
            <option value="<%= player._id %>"><%= player.name %></option>
          <% } %>
        <% }) %> 
      </select>

      <label>Shooting Guard:</label>
      <select name="sgId">
        <option value="" disabled selected hidden>Choose Shooting Guard</option>
        <% players.forEach(player => { %> 
          <% if (player.position === 'Shooting Guard') { %>
            <option value="<%= player._id %>"><%= player.name %></option>
          <% } %>
        <% }) %> 
      </select>

      <label>Small Forward:</label>
      <select name="sfId">
        <option value="" disabled selected hidden>Choose Small Forward</option>
        <% players.forEach(player => { %> 
          <% if (player.position === 'Small Forward') { %>
            <option value="<%= player._id %>"><%= player.name %></option>
          <% } %>
        <% }) %> 
      </select>

      <label>Power Forward:</label>
      <select name="pfId">
        <option value="" disabled selected hidden>Choose Power Forward</option>
        <% players.forEach(player => { %> 
          <% if (player.position === 'Power Forward') { %>
            <option value="<%= player._id %>"><%= player.name %></option>
          <% } %>
        <% }) %> 
      </select>

      <label>Center:</label>
      <select name="cId">
        <option value="" disabled selected hidden>Choose Center</option>
        <% players.forEach(player => { %> 
          <% if (player.position === 'Center') { %>
            <option value="<%= player._id %>"><%= player.name %></option>
          <% } %>
        <% }) %> 
      </select>

      <button type="submit">Update Team</button>
    </form>
  <% } else { %> 
    <h1>You Must Sign-In to Edit a Team!</h1>
  <% } %> 
</main>

<%- include("../partials/footer") %></input>