<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/teams/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Basketball Teams</h1>
  <table>
    <thead>
      <tr>
        <th>Team City</th>
        <th>Team Name</th>
        <th>Conference</th>
        <th>Primary Color</th>
        <th>Secondary Color</th>
        <th>Roster</th>
        <th>Owner</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% teams.forEach(team => { %>
        <tr>
          <td><%= team.city %></td>
          <td><%= team.name %></td>
          <td><%= team.conference %></td>
          <td id="color-pri">
            <div
              style='background-color: <%= team.priColor %>' 
              id="primary-color"
            ></div>
          </td>
          <td id="color-sec">
            <div
              style='background-color: <%= team.secColor %>' 
              id="secondary-color"
            ></div>
          </td>
          <td><a href="/teams/<%= team._id %>">ROSTER</a></td>
          <td><%= team.owner.name %></td>
          <td>
            <% if (team.owner.equals(user?.profile._id)) { %> 
            <form
              action="/teams/<%= team._id %>?_method=DELETE"
              method="POST"
            >
              <button>X</button>
            </form>
            <% } %> 
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>