<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Welcome to 2K Create-A-Team</h1>
  <h1><%= user ? `Let's play, ${user.profile.name}!` : "Sign-in to Play!" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
    <div id="instructions">
      <h3>Instructions:</h3>
      <ol>
        <li>
          First, add a player, or players, to the database by clicking the 'Add Player' link at the top. The player can be a past or current NBA or college player, an imaginary player, or even yourself!
        </li>
        <li>
          Once you've filled out the Player Form and pressed Submit, you can navigate to the 'Add Team' link, where you can customize your team's city, mascot, conference, and colors!
        </li>
        <li>
          From there, you can add the players you created, or players that other users created, and add them to your roster.
        </li>
        <li>
          Click the 'All Teams' link to view your team along with other user's teams. Each team will have a 'Roster' link that will show each team's details, roster, and team ratings.
        </li>
        <li>
          Have Fun!
        </li>
      </ol>
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
